@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");

$accent-color: var(--accent-color);
$background-color: var(--background-color);

:root {
  font-family: Montserrat, sans-serif;

  --text-color: rgb(29, 30, 32);
  --accent-color: #f089a6;
  --background-color: #f2f9ff;
  --section-color: #e5edf5;

  --bold-color: #fac1d8;
  --border-color: #dae7f1;

  --impact-font: Domine, "Times New Roman", seriff;

  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;

  background-color: $background-color;

  height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;

  flex-grow: 1;
}

li {
  margin: 0.5rem 0rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  margin: 0;

  li {
    margin: 0;
    list-style: none;
    color: $accent-color;
  }

  a {
    color: $accent-color;
    text-decoration: none;
    transition: all 0.1s ease-in-out;

    font-family: var(--impact-font);
  }

  a:hover {
    filter: brightness(95%);
    text-decoration: underline;
  }

  a:active {
    filter: brightness(85%);
  }

  .home {
    font-weight: 700;
  }

  #email {
    height: 100%;
    display: flex;
    align-items: center;

    svg {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  nav ul #email {
    svg {
      display: block;
    }

    span {
      display: none;
    }
  }

  main {
    padding: 0.75rem;
  }
}
