@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$accent-color: var(--accent-color);
$background-color: var(--background-color);

:root {
  font-family: Montserrat, sans-serif;

  --accent-color: #E195AB;
  --background-color: #F2F9FF;
}

body {
  margin: 0 auto;
  padding: 0;

  background-color: $background-color;
}

main {
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
}

li {
  margin: 0.5rem 0rem;
}

nav ul {
  background-color: $accent-color;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  margin: 0;

  li {
    margin: 0;
    list-style: none;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
  }

  a:hover {
    filter: brightness(95%);
    text-decoration: underline;
  }

  a:active {
    filter: brightness(85%);
  }

  .home {
    font-weight: 700;
  }

  #email {
    height: 100%;
    display: flex;
    align-items: center;

    svg {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  nav ul #email {
    svg {
      display: block;
    }

    span {
      display: none;
    }
  }
}
