
{{ define "meta" }}
  {{ $style := resources.Get "sass/posts/single.scss" | css.Sass | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <meta name="description" content="{{ .Params.Summary }}">
  <meta name="og:image" content="/images/posts/{{ .File.BaseFileName }}.webp"/>

  <title>{{ .Params.Title }}</title>
{{ end }}

{{ define "main" }}
  <img class="thumbnail" src="/images/posts/{{ .File.BaseFileName }}.webp" />
  <div class="post-body">
    <header class="title">
      <p class="info">
        {{ .Params.Category }} | {{ .Date.Format "01/02/06 03:04 pm MST" }}
      </p>
      <h1 class="header">{{ .Params.Title }}</h1>
    </header>

    <p>
      <strong>
        {{ .Params.Location }}
      </strong>
      &ThickSpace;–&ThickSpace; {{ .Summary }}
    </p>

    {{ .Content }}
  </div>
{{ end }}
