{{ define "meta" }}
  {{ partial "sass" "sass/home/post-gallery.scss" }}
  {{ partial "sass" "sass/home/main.scss" }}
  <title>{{ .Params.Title }}</title>
{{ end }}
{{ define "main" }}
  <section id="gallery">
    {{ with .Site.GetPage "/posts" }}
      {{ partial "home/post-gallery.html" (sort (where .Pages "Params.hide_from_carousel" "ne" true) "Date" "desc" | first 6) }}
    {{ end }}

  </section>
  <section id="graphics">
    <header>
      <h2>Recent Graphics</h2>
    </header>
    <section class="examples">
      <ul class="instagram-row">
        <li>
          <figure>
            <img src="/images/graphics/graphic-1.webp" alt="Best Start in MSOC History" />
            <figcaption>Best Start in MSOC History</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/graphics/graphic-2.webp" alt="McCann POTY" />
            <figcaption>McCann POTY</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/graphics/graphic-3.webp" alt="Baseball Receiving Votes Stickers" />
            <figcaption>Baseball Receiving Votes Stickers</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/graphics/graphic-4.webp" alt="Single Season WHOC Saves Record" />
            <figcaption>Single Season WHOC Saves Record</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/graphics/graphic-5.webp" alt="Saint-Louis 1k Club" />
            <figcaption>Saint-Louis 1k Club</figcaption>
          </figure>
        </li>
      </ul>
    </section>
  </section>
  <section id="day-to-day">
    <header>
      <h2>Day to Day Graphics</h2>
    </header>
    <section class="examples">
      <ul class="day-to-day-row">
        <li>
          <figure>
            <img src="/images/graphics/dtd-1.webp" alt="WTEN Match day" />
            <figcaption>WTEN Match day</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/graphics/dtd-2.webp" alt="WTEN Schedule" />
            <figcaption>WTEN Schedule</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/graphics/dtd-3.webp" alt="FH Gameday" />
            <figcaption>FH Gameday</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/graphics/dtd-4.webp" alt="Valiants of the Week" />
            <figcaption>Valiants of the Week</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/graphics/dtd-5.webp" alt="Dual Hispanic Heritage Night" />
            <figcaption>Dual Hispanic Heritage Night</figcaption>
          </figure>
        </li>
      </ul>
    </section>
  </section>
{{ end }}
