<h3 class="match">
  JMU Lacrosse vs Richmond<br />
  <i> 2/26/2025 </i>
</h3>
<ul class="tweets">
  <li>
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Richmond didn&#39;t score in this quarter...but Maggie Clark did (twice)
        🥳<a
          href="https://twitter.com/hashtag/GoDukes?src=hash&amp;ref_src=twsrc%5Etfw"
          >#GoDukes</a
        >
        <a href="https://t.co/gjrrVQzT54">pic.twitter.com/gjrrVQzT54</a>
      </p>
      &mdash; JMU Lacrosse (@JMULacrosse)
      <a
        href="https://twitter.com/JMULacrosse/status/1894895717556076751?ref_src=twsrc%5Etfw"
        >February 26, 2025</a
      >
    </blockquote>
  </li>
  <li>
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        &quot;Nice Pass&quot; 😁<br /><br />Maddie Epke 🤝 Olivia Matthews<a
          href="https://twitter.com/hashtag/GoDukes?src=hash&amp;ref_src=twsrc%5Etfw"
          >#GoDukes</a
        >
        <a href="https://t.co/OTslm6eMDx">pic.twitter.com/OTslm6eMDx</a>
      </p>
      &mdash; JMU Lacrosse (@JMULacrosse)
      <a
        href="https://twitter.com/JMULacrosse/status/1894893984776102081?ref_src=twsrc%5Etfw"
        >February 26, 2025</a
      >
    </blockquote>
  </li>
  <li>
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Starters at 🏡<a
          href="https://twitter.com/hashtag/GoDukes?src=hash&amp;ref_src=twsrc%5Etfw"
          >#GoDukes</a
        >
        <a href="https://t.co/qHHhPoTEcC">pic.twitter.com/qHHhPoTEcC</a>
      </p>
      &mdash; JMU Lacrosse (@JMULacrosse)
      <a
        href="https://twitter.com/JMULacrosse/status/1894862575311167964?ref_src=twsrc%5Etfw"
        >February 26, 2025</a
      >
    </blockquote>
  </li>
</ul>
<h3 class="match">
  JMU Field Hockey vs Queens
  <br />
  <i> 11/04/2023 </i>
</h3>
<ul class="tweets">
  <li>
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Narleski lays out for her second career goal!<br /><br />JMU 3, QUC 0<a
          href="https://twitter.com/hashtag/GoDukes?src=hash&amp;ref_src=twsrc%5Etfw"
          >#GoDukes</a
        >
        <a href="https://t.co/diqZYtSIj2">pic.twitter.com/diqZYtSIj2</a>
      </p>
      &mdash; JMU Field Hockey (@JMUFieldHockey)
      <a
        href="https://twitter.com/JMUFieldHockey/status/1720854140736115097?ref_src=twsrc%5Etfw"
        >November 4, 2023</a
      >
    </blockquote>
  </li>
  <li>
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Roeper gets around the keeper for the score!<br /><br />JMU 7, QUC 0<a
          href="https://twitter.com/hashtag/GoDukes?src=hash&amp;ref_src=twsrc%5Etfw"
          >#GoDukes</a
        >
        <a href="https://t.co/Od4PQx00yZ">pic.twitter.com/Od4PQx00yZ</a>
      </p>
      &mdash; JMU Field Hockey (@JMUFieldHockey)
      <a
        href="https://twitter.com/JMUFieldHockey/status/1720866528856309901?ref_src=twsrc%5Etfw"
        >November 4, 2023</a
      >
    </blockquote>
  </li>
  <li>
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Here&#39;s how we&#39;re lining up for Senior Saturday 🥳<br /><br />📊
        <a href="https://t.co/VFkiwwHb9V">https://t.co/VFkiwwHb9V</a
        ><a
          href="https://twitter.com/hashtag/GoDukes?src=hash&amp;ref_src=twsrc%5Etfw"
          >#GoDukes</a
        >
        <a href="https://t.co/L8AZQUpDly">pic.twitter.com/L8AZQUpDly</a>
      </p>
      &mdash; JMU Field Hockey (@JMUFieldHockey)
      <a
        href="https://twitter.com/JMUFieldHockey/status/1720844671998361669?ref_src=twsrc%5Etfw"
        >November 4, 2023</a
      >
    </blockquote>
  </li>
</ul>
